# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.vsidx
# Other files and folders
.settings/
.vsidx
.vs/
# Executables
*.swf
*.air
*.ipa
*.apk
.vsidx

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
